// background Colors
$bg-primary: #020202;
$bg-primary-08: #0a0a0ac1;
$bg-secondary: #636e72;

$bg-danger: #d63031;
$bg-info: #0071e3;
$bg-note: #fdcb6e;

// Text Colors
$color-text-light: #dfe6e9;
$color-text-light-hover: #d5d5d5;
$color-text-dark: #2d3436;
