.c-form {
	display: flex;
	flex-direction: column;

	max-width: 500px;

	margin: 0 auto;
	margin-top: 60px;

	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	&__label {
		color: $color-text-light;
		font-size: 12px;
	}

	&__input {
		position: relative;
		padding: 8px 0;
		margin-bottom: 24px;

		background-color: transparent;
		color: $color-text-light;
		font-size: 14px;

		border: none;
		border-bottom: 1px solid $color-text-light;

		outline: none;

		&.error {
			border-bottom: 1px solid $bg-danger;
		}
	}

	&__message {
		cursor: pointer;

		&--error {
			&:before {
				content: "Please fill this input";
				position: absolute;
				right: 0;
				top: 25%;
				height: 20px;

				color: $bg-danger;
				font-size: 14px;
			}
		}
	}

	& .c-btn {
		margin-top: 12px;
		height: 40px;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus {
		border-bottom: 1px solid $bg-info;
		-webkit-text-fill-color: $bg-info;
		-webkit-box-shadow: 0 0 0px 1000px #000 inset;
		transition: all 5000s ease-in-out;
	}

	input:focus {
		border-bottom: 1px solid $bg-info;
		transition: all 0.3s ease-in-out;
	}
}
