.c-hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-top: 80px;
	margin: 0 auto;

	&__title {
		font-size: 200px;
		font-weight: 700;

		&--secondary {
			font-size: 62px;
		}
	}

	&__actions {
		display: flex;
		justify-content: space-between;

		padding-top: 28px;
	}

	&__links {
		font-size: 22px;
		font-weight: 700;

		&:first-child {
			margin-right: 24px;
		}

		& span {
			margin-right: 2px;

			cursor: pointer;

			&:hover {
				color: $color-text-light;

				text-decoration: underline;
			}
		}
	}
}
