<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mono learning 2</title>
	</head>
	<body>
		<!--Header-->
		<header class="c-header">
			<div class="c-header--top">
				<nav class="c-nav">
					<ul class="c-nav__links">
						<a href="./index.html">
							<img
								src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Apple_logo_white.svg/1200px-Apple_logo_white.svg.png"
								alt="logo"
								class="c-nav__logo"
							/>
						</a>
						<li class="c-nav__links__item"><a href="">Mac</a></li>
						<li class="c-nav__links__item"><a href="">iPad</a></li>
						<li class="c-nav__links__item">
							<a href="">iPhone</a>
						</li>
						<li class="c-nav__links__item"><a href="">Watch</a></li>
						<li class="c-nav__links__item"><a href="">TV</a></li>
						<li class="c-nav__links__item"><a href="">Music</a></li>
						<li class="c-nav__links__item">
							<a href="./support.html">Support</a>
						</li>

						<div class="c-nav__search">
							<i class="u-icon u-icon--med u-icon--search"></i>
						</div>

						<div class="c-nav__basket">
							<i class="u-icon u-icon--med u-icon--basket"></i>
						</div>
					</ul>
				</nav>
			</div>

			<div class="c-header--bottom">
				<p class="c-header__title">AirPodsPro</p>

				<div class="c-header--bottom__actions">
					<a href="" class="c-header__link active">Overview</a>
					<a href="" class="c-header__link">Tech Specs</a>
					<button
						class="c-btn c-btn--sml c-btn--primary c-btn--rounded"
					>
						Buy
					</button>
				</div>
			</div>
		</header>

		<!-- HERO -->
		<div class="c-hero">
			<p class="c-hero__title">AirPods Pro</p>

			<div class="c-hero__actions">
				<div class="c-hero__links">
					<span id="video__product">Watch the product film</span>
					<i class="u-icon u-icon--med u-icon--play"></i>
				</div>
				<div class="c-hero__links">
					<span id="video__jump">Watch Jump</span>
					<i class="u-icon u-icon--med u-icon--play"></i>
				</div>
			</div>

			<img
				src="https://www.apple.com/v/airpods-pro/c/images/overview/static_hero_airpodspro__cgozkyv8zgc2_large.jpg"
				alt="airpods"
				class=""
			/>
		</div>
	</body>
</html>
